html {
    font-family: "Liberation Sans", "Segoe UI", sans-serif;
    font-size: 1rem;
    line-height: 1.5
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
    height: auto
}

.site-title a {
    font-size: 2rem;
}

.lead {
    font-size: 1.3rem;
    font-weight: 300;
}


body {
    margin: 0;
    color: white;
    background-color: #102052;
    background-image: linear-gradient(to bottom, #162c70, #0a1434);
    display: flex;
    flex-direction: column;
}

#sidebar {
    flex: 0 0 auto;
    padding: 2rem
}
a.site-title{
    font-family: "Microsoft YaHei UI Light", sans-serif;
}

.content {
    background: #fff;
    color: #515151;
    padding: 2rem
}


.home #sidebar {
    text-align: center
}


.home #sidebar header ~ nav {
    display: flex
}

@media (min-width: 49rem) {
    html {
        font-size: 1.25rem;
    }
    body {
        flex-direction: row;
    }
    body > * {
        max-height: 100vh;
        overflow: auto;
    }
    #sidebar,
    .home #sidebar {
        width: 18rem;
        text-align: left;
    }

    #sidebar .site-title {
        font-size: 2.9rem;
    }
    .container {
        background: #fff;
        color: #515151;
        padding: 4rem;
    }
    .container > * {
        max-width: 38rem;
        padding: 0;
    }

}

#sidebar a {
    color: #fff
}


#sidebar a.active {
    font-weight: bold
}

#sidebar-nav-links {
    flex-flow: column nowrap
}

.icon {
    font-size: 1.5rem;
    margin: 0 0.25em;
    max-width: 100%;
    justify-content: center;
    margin-top: 1rem
}

input[type="text"],
input[type="search"],
input[type="number"],
button {
    padding: 0.75em 0.5em;
    border: 1px solid #e5e5e5;
    border-radius: 300px;
    outline: none;
}

footer {
    clear: both;
    color: #b0b0b0;
    font-size: .9em;
    padding: 1em 0.5em;
}

footer div {
    float: right
}

footer li {
    float: left;
    margin: 0 0 0 0.75em;
    list-style-type: none;
}

footer a {
    background: url(http://www.ti.com/assets/images/icons/icon_follow-us-facebook.png) no-repeat 0 0;
    display: block;
    width: 16px;
    height: 16px;
}

footer #twitter a {
    background-image: url(http://www.ti.com/assets/images/icons/icon_follow-us-twitter.png);
}

footer #google a {
    background-image: url(http://www.ti.com/assets/images/icons/icon_google.png);
}

footer #linkedin a {
    background-image: url(http://www.ti.com/assets/images/icons/icon_linkedin.png);
}

footer #instagram a {
    background-image: url(http://www.ti.com/assets/images/icons/icon_follow-us-instagram.png);
}

footer #e2e a {
    background-image: url(http://www.ti.com/assets/images/icons/e2e_footer.png);
}

footer p {
    float: left;
}
